@-webkit-keyframes wind{
    0%{ -webkit-transform: rotateZ(5deg);}
    50%{ -webkit-transform: rotateZ(-5deg);}
    100%{ -webkit-transform: rotateZ(5deg);}
}

@-webkit-keyframes wind2{
    0%{ margin-left:64%;margin-top:-20%;-webkit-transform: rotateZ(5deg);}
    50%{ margin-left:69%;margin-top:-23%;-webkit-transform: rotateZ(-5deg);}
    100%{ margin-left:64%;margin-top:-20%;-webkit-transform: rotateZ(5deg);}
}


@-webkit-keyframes sea{
    0%{ margin-left:-1%;}
    50%{ margin-left:0%;}
    100%{ margin-left:-1%;}
}

@-webkit-keyframes expandsquare{
    100%{margin-left:-30%;margin-top:-24%;width:100%;height:100%;}
}

@-webkit-keyframes expandsquare2{
    100%{margin-left:-30%;margin-top:-35%;width:100%;height:100%;}
}


body{
    position: absolute;
    width: 100%;
    height:100%;
    font-size:100%;
    font-family:verdana;
    left:0%;
    top:0%;
    margin: 0%;
    overflow-x:hidden;
}

.papercontainer{
    position: relative;
    width:97%;
    margin:0%
    padding:1%;
}

.playerintro{
    margin-left:5%;
    margin-top: 1%;
    border:1px dotted yellow;
    width:90%;
    background-image: url('../images/bg1.png');
    background-size:100%;
    overflow:hidden;
    padding: 0%;
}


div#cloud1{
    width:20%;
    margin-left:4%;
    margin-top:-2%;
    -webkit-animation: wind 4s ease-out infinite;
}

div#cloud1 img{
    width:100%;
}

div#sea{
    float:left;
    width:130%;
    margin-left:0%;
    background-image: url('../images/w1.png');
    background-size: 60%;
    background-repeat: repeat-x;
    -webkit-animation: sea 2s ease-out infinite;
}

div#sea img{
    width:100%;
}

div#cloud2{
    float:left;
    width:20%;
    margin-top:-20%;
    margin-left:54%;
    -webkit-animation: wind2 3.5s ease-out infinite;
}

div#cloud2 img{
    width:110%;
}

div#manitlogo{
   width:20%;
   margin-left:42%;
   margin-top:-10%;
   z-index:100;
}
.buttcont{
    width:40%;
    margin-left:27%;
    margin-top:-7.7%;
    margin-bottom: 1%;
}
div#manitlogo img{
    width:50%;
}

.button{
    position: relative;
    width:80%;
    padding:1.5% 0%;
    color:#F06292;
    border:2px solid white;
    box-shadow: inset 0px 0px 10px 1px pink;
    text-align:center;
    line-height: 150%;
    font-family: cursive;
    font-size:1.3em;
    cursor:pointer;
    background: white;
    margin:5% 0% 15% 8%
}

div#play{
    margin-bottom: 10%;
}

.button:hover{
    -webkit-animation: colorfade 0.4s ease-out forwards 1;
}

.picasso{
    margin-left:5%;
    margin-top: 1%;
    border:1px dotted yellow;
    cursor: pointer;
}

.animdiv{
    position:absolute;
    z-index:10;
    width:29%;
    display: block;
    background:white;
    height:8.4%;
    border:1px solid white;
    box-shadow: none;
    
}


div#share{
    
}


div#animdiv1{ display:none;margin:-8.9% 10% 0% 2.7% ; -webkit-animation: expandsquare 1s ease-in-out forwards 1;}
div#animdiv2{ display:none;margin:-7% 10% 0% 4.5% ; -webkit-animation: expandsquare2 1s ease-in-out forwards 1;}